<h1>Welcome to Brave</h1>


Problem
People are no longer offered lifetime employment from one company.

Solution
‘Lifetime employment’ is newly defined (by me) as a consistent stream of work, coming from different revenue sources. With Brave, you can work with multiple “virtual companies” and still focus on what you do best.

Feature 1: Organize Virtual companies 
Two or more individuals can organize a temporary, virtual company, known as a Guild. Sub-feature: Guild Views – Each Guild will have a backend (internal) & frontend (client-facing) view.

Feature 2: Guild Portfolio Dashboard
Each individual will be apart of several Guilds and the Dashboard organizes the tasks, and money made, from each. Sub-feature: Payout – Clients will pay the guild, and the funds will be dispersed into each member of the Guild’s bank account, based on the agreed upon split.

Feature 3: Individuals graded on contribution
Upon completion of a Guild, member’s will score each other’s contribution which will build a reputation for the user for future Guild’s. Sub-feature: User profile Views. – Becomes an eharmony for business owners.

<%= link_to "About", about_url %>