<h1>FOR ALL YOU BRAVE SOULS...</h1>


<p> Yo AD, Lqqks Like this Mailer's Working for our ><%=@agreement.title.upcase %> Agreement</p>
<p> Complaints can be directed to: <%=@agreement.user.name.upcase %></p>

