Notifier#invitation

<p>Yo, This is an Email Test for all of you (_I_) less Chapps lovers out there....Just in case you actually wanted to join this agreement titled >><%=@agreement.title %></p>
<p>You're going to want to contact >><%=@agreement.user.name %></p>

