<h1><%= @users.first.role %> Members</h1>

<h2>Invite These Members:</h2>


<% if @users %>

<%end %>

<div class="users">
  <% @users.each do |user| %>
<ul> 
  <li><%= link_to user.name.upcase, user_url(user.id) %></li>
  <li><p><img width="100" class="photo" alt="dummypic" src="assets/pic<%= rand(0..10)%>.png"></p></li>
</ul>
  <% end %>
</div>