<h1>Project Management Dashboard</h1>

<ul>

<% @projects.each do |project| %>
<li><%= link_to project.title, project_url(project.id) %></li>

  <% if project.is_active == true %>
 <img width="15" class="photo" alt="dummypic" src="assets/greenup.png">
    <ul>
      <% project.agreements.each do |agreement| %>
      <li>
      <p>Agreement Title: <%= agreement.title %> </p>
      </li>
      <%end %>
    </ul>
  <%end %>
<% end %>

</ul>


