<h1>Project Management Dashboard</h1>
    <h2> Rank Your Fellow Project Members</h2>
<ul>
<% @projects.each do |project| %>
<li><%= link_to project.title, project_url(project.id) %></li>

  <% if project.is_active == true %>

    <ul>
    <% project.agreements.each do |agreement| %>
      <li>
      <p>Agreement Title: <%= agreement.title %> </p>
      <p>Brave Member: <%= User.find_by_id(agreement.user_id).name%> </p>
      </li>
    <%end %>
  </ul>
 <%end %>
<% end %>

</ul>
<p><%= link_to "new project", new_project_url %></p>