<h1>Agreements#index</h1>
<ul>
<% @agreements.each do |agreement| %>
<li><%= link_to agreement.title, agreement_url(agreement.id) %></li>
<% end %>
</ul>
<%= link_to "New Agreement", new_agreement_url %>
