<h1>Agreement for <%= @agreement.user.name.capitalize %></h1>
<h2><%= @agreement.title %></h2>
<h3><%= @agreement.description %></h3>
<%= link_to "Back to Project", project_path(@agreement.project_id) %>
