/* RESET */
html``, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

h1, h2, h3, h4 {
	margin-bottom: 0;
}
body {
	background: #d2d1d1; }
a {	
		text-decoration: none;
		color: #004080; }
/* HEADER NAV */
.headNav {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	border-bottom: 3px solid blue;
	overflow: hidden;
}
.headNav h1 {
	float: left;
	margin-right: 10px;
}
.headNav li {
	display: inline-block;
	font-size: 24px;
	margin-top: 10px;
}
.headNav li.last {
	float: right;
	margin-right: 20px;
}
.headNav a {
	}

.container {
	width: 980px;
	padding: 20px;
	margin: 0px auto 20px;
	font-family: 'Helvetica', serif;
	overflow: hidden;
	}

/* SIDEBAR */

#sidebar {
	width: 140px;
	padding: 10px;
	background: blue;
	float: right;
}
#sidebar .new_project {
	display: block;
	margin: 20px 0 0;
	padding: 5px 10px;
	background: #fff;
	border-radius: 5px;
}
	
/* CONTENT */

a.new_button {
	padding: 10px;
	color: #000;
	text-shadow: 1px 1px 0 #fff;
	background: #ccc;
	font: 28px "Cabin Condensed";
	margin: 0 0 20px 20px;
	background-image: -webkit-linear-gradient(top, #fff, #f3f4f4); 
	background-image:    -moz-linear-gradient(top, #fff, #f3f4f4);
	background-image:     -ms-linear-gradient(top, #fff, #f3f4f4);
	background-image:      -o-linear-gradient(top, #fff, #f3f4f4);
	border-radius: 5px;
	box-shadow: 0 0 3px rgba(0,0,0,.2);
}
a.new_button span {
	margin-right: 20px;
	font-size: 28px;
}
a.new_button:hover {
	color: green;
}
#content_project {
	width: 760px;
	margin: 0 auto;
	overflow: hidden;
}
#projects,
#agreements {
	margin: 20px 0 0;
	padding: 0;
	overflow: hidden;
}

#projects li,
#agreements li {
	float: left;
	width: 266px;
	padding: 10px;
	background: #f9f9f9;
	border-radius: 5px;
	box-shadow: 0 0 4px rgba(0,0,0,0.2);
	margin: 10px 20px;
	color: #222;
	list-style-type: none;
	font-family: "Cabin Condensed";
}
#projects li h2 {
	text-align: center;
	text-transform: uppercase;
	padding: 3px 0;
	border-top: 1px solid #d2d2d2;
	border-bottom: 1px solid #d2d2d2;
}
#projects li h2 a {
	color: #222;
}
.client {
	font-size: 22px;
	margin-bottom: 0;
}
.admin {
	font-size: 16px;
	margin-top: 0;
	float: left;
}
.money {
	font-size: 35px;
	float: right;
	margin: 5px 0;
	text-shadow: 1px 1px 0 #fff;
}
.project_members {
	background: #eaeaea;
	margin: 0 -10px;
	padding: 10px 0;
	clear: both;
	overflow: hidden;
}
.project_members ul {
	margin: 0;
	padding: 0;
}
.members {
	float: left;
	text-transform: uppercase;
	font-size: 20px;
	margin: 45px 0 0 15px;
}
.pending,
.active {
	float: right;
	margin: 0 10px 0px 0;
}
.project_members img {
	width: 40px;
	height: 40px;
	border-radius: 100px;
	float: right;
	margin: 10px 5px 0 0;
}
.status {
	float: right;
	width: 50px;
	text-align: left;
}
.pay_now {
	padding: 20px;
	font-size: 25px;
	text-align: center;
	border-radius: 10px;
	background: green;
	color: #eaeaea;
	display: block;
}
.pay_now:hover {
	background: blue;
}

/* FORMS */
form#new_project,
form#new_agreement,
form.edit_agreement {
	background: #fff;
	padding: 20px;
	width: 500px;
	margin: 20px auto;
}

#new_project label,
#new_agreement label,
.edit_agreement label {
	display: block;
}
form#new_agreement {
	margin: 20px 0;
}


/* AGREEMENT BOXES */
.avatar {
	width: 50px;
	border: 5px solid #ccc;
	float: left;
	margin-right: 10px;
}



/*

	
.users ul {
  padding: 10px;
  border: 1px solid blue;
  width: 200px;
  height: 200px;
  display: inline;
  list-style-type: none;
}

.users li{
  list-style: none;
  text-decoration: none;
  float: left;
}

.h1 {
 font-color: blue;
  
}
.submit {
  font: 20px;
}

img {
  font: blue;
}

#roledescription {
  font: 24;
}
*/